* {
  border: 1px red solid;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
}

.hero-text h1{
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text p, nav ul li {
  font-size: 18px;
  color: #e5e7eb;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 1rem;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  margin-right: auto;
}

header,
.hero,
footer {
  background-color: #1f2937;
}

button,
.cta {
  background-color: #388ff6;
}

.info-header, .quote {
  font-size: 36px;
  color: #1f2937;
}

.info-header {
  font-weight: 900;
}

.quote {
  font-weight: 300;
}
